body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(164,198,238);
  background: rgb(114,182,244);
  background: linear-gradient(90deg, rgba(114,182,244,1) 27%, rgba(255,255,255,1) 51%, rgba(253,187,45,1) 86%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeBtn {

  margin:  10px;
  color: floralwhite;
  background-color: black;
  text-decoration: none;
  font-size: 30px;
  font-size: 1.9vw;
  font-family: Didot, 'Brush Script';
  width: auto;
  height: auto;
}

.homeBtn:hover { 
  /* background-color: #e8dc3f; */
  color: yellow;
  
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  justify-content: space-around;

}
.nav{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: floralwhite;
  border-bottom: 2px black solid;
  align-items: center;
  font-family: Candara;
  font-size: large;
  /* margin: auto; */
}
.nav ul {
  display: flex ;
  list-style-type: none;
  padding: auto;
  /* margin: auto; */
}
.nav h2 {
  margin: 20px;
  height: auto;
}
.webMenuButton{
  display: none;
}

@media screen and (max-width: 920px) {

  .webMenuButton{
    display: block;
    padding: 10px;
    margin: 10px;
  }

  .nav ul {
    display: none;
  }
}

#menuInLine {
  display: block;
}

.errorCard {
  display: flex;
  justify-content: flex-end;
  font-size: smaller;
  font-weight: unset;
  word-wrap: break-word;
  width: 25%;
}

.hidden{
  display: none;
}